
$pri: swear-display, serif;
$sec: raleway, sans-serif;

$blue: #B5D5FF;
$purp: #E5D8FC;
$pink: #FFCDF4;
$green: #D8FFEA;
$yellow: #FFFDCD;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $pri;
}

.heading{
    text-align: center;
}

// HOME PAGE

.home{
    width: 70vw;
    margin: 5rem auto;
    

    .heading{
        h1{
            font-weight: 800;
            font-size: 12vw;
        }
    }



    

}

.underline{
    background-image: linear-gradient(120deg, $blue 0%, $blue 100%);
    background-repeat: no-repeat;
    background-size: 90% 50%;
    background-position: 70% 150%;

}
.sub{
    text-align: center;
    font-size: 7vw;
    font-weight: 600;
    margin: 1rem 0;

}

.homeNav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;
    margin-top: 2rem;


    .authLinks{
        text-decoration: none;
        color: #000;
        background-color: $pink;
        margin-bottom: 1rem;
        border-radius: 3px;
        font-size: 6vw;
        padding: 3%;
        font-weight: 500;

        

    }
}



// auth

.authWrapper{
    margin: 0 auto;
    width: 70vw;

    .authHeading{
        text-align: center;
        margin: 1.5rem 0;
        h1{
            font-weight: 800;
            font-size: 12vw;
        }
       
    }

    .authForm{
        box-shadow: 0px 0px 15px 5px $pink;
        padding: 5% 8% 7%;
        margin: 3rem 0;

        input[type="submit"]{
            width: 100%;
            border: none;
            background-color: $pink;
            font-weight: 600;
            font-size: 6vw;
            padding: 1% 0 2%;
            margin: 0.5rem 0 0;
            border-radius: 3px;
            
        }

        .registerBtn{
        
            
            background-color: $blue;
            font-weight: 600;
            font-size: 6vw;
            width: 100%;
            margin: 0.5rem 0 0;
            border-radius: 3px;
            text-align: center;
            padding: 1% 0 2%;

            a{
                text-decoration: none;
                color: #000;
            }



            
        }



        .formFields{
            display: flex;
            flex-direction: column;
            margin: 0 0 0.5rem;

            label{
                font-weight: 600;
                font-size: 6vw;
            }
            input{
                border: 2px solid $pink;
                border-radius: 3px;
                padding: 2% 4%;
                font-size: 4vw;
                caret-color: #388eff;
                margin: 0.25rem 0 0;
            }
            

        }
    }


}


//  nav

.nav{
    display: flex;
    flex-direction: column;

    .showLinks{
        display: flex;
        flex-direction: column;

    }

    .hideLinks{
        display: none;
    }
    .navLogo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

